
@{
    ViewBag.Title = "AddSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h3>Add New Social Media</h3>
<br />
<form method="post">
    <input type="text" name="Brand" class="form-control" placeholder="Write to Social Media Brand " />
    <br />
    <input type="text" name="Link" class="form-control" placeholder="Write to Social Media Link " />
    <br />
    <input type="text" name="Icon" class="form-control" placeholder="Write to Icon" />
    <br />
    <button class="btn btn-info btn-sm">
        <i class="fas fa-pencil-alt">
        </i>
        Edit
    </button>

</form>

