
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="/Admin/About/" class="w3-bar-item w3-button">About</a>
        <a href="/Admin/Guide/" class="w3-bar-item w3-button">Guide</a>
        <a href="/Admin/Index/" class="w3-bar-item w3-button">My Blog</a>
        <a href="/Admin/ListofComments/" class="w3-bar-item w3-button">Comments</a>
        <a href="/Admin/SocialMedia/" class="w3-bar-item w3-button">Social Media</a>
        <a href="/Admin/Skills/" class="w3-bar-item w3-button">Skills</a>
        <a href="/Admin/Communicate/" class="w3-bar-item w3-button">Contact</a>
        <a href="/Default/Index/" class="w3-bar-item w3-button">MainPage</a>
        <a href="/Login/LogOut/" class="w3-bar-item w3-button">Log Out</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h2>Admin Administration Panel</h2>
        </div>

        

        <div class="w3-container">
            
            @RenderBody()
        </div>

    </div>

</body>
</html>
